<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="course-card">
    Test outside salmon-theme Course Card
</div>

<div class="">

    <div class="course-card">
        Test inside salmon-theme Course Card
    </div>

    <div class="demo">
        <!-- ee4cf28f0e504b82154f8d03d5c86310e34f36d2 -->
        
        <button (click)="onEditCourse()" i18n>Edit Course</button>
    </div>


    <div class="courses">

        <h4 i18n="welcome message|greet user">Welcome to Angular Core Deep Dive Course</h4>
        
        <!-- #highlighter="hglht"
            highlighted -->
        <course-card *ngFor="let course of courses | filterByCategory: 'BEGINNER'"
            (toggleHighlight)="onToggle($event)"
            (courseSelected)="onCourseSelected($event)"
            [course]="course">

            <!--  *ngxUnless custom structural directive (ngx-unless.directive.ts)  -->
            <course-image 
                *ngxUnless="!course.iconUrl"
                [src]="course.iconUrl">
            </course-image>

            <!-- <course-image [src]="course.iconUrl"></course-image> -->

            <div class="course-description" 
                (dblclick)="highlighter.toggle()" >
                {{ course.longDescription }}
            </div>

        </course-card>


    </div>

    <!--  this is what Angular, under the hood, does when it applies a structural directive as *ngIf (for example in the div of courses)  -->
    <!--  In order to do that, Angular has to grab a reference onto the template in order to instanciate it  -->
    <!-- <ng-template [ngIf]="courses[0]" let-course>

        <div class="courses">
        
            <course-card 
                #highlighter="hglht"
                highlighted
                (toggleHighlight)="onToggle($event)"
                    (courseSelected)="onCourseSelected($event)"
                        [course]="course">

                
        
                <course-image [src]="course.iconUrl"></course-image>
        
                <div class="course-description" 
                    (dblclick)="highlighter.toggle()" >
                    {{ course.longDescription }}
                </div>
        
            </course-card>
        
        
        </div>

    </ng-template> -->


</div>

